rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /post_audio/{filename} {
    	allow read;
      allow create: if request.auth != null
                    && request.resource.size < 5 * 1024 * 1024;
      allow update, delete: if false;
    }
  }
}
